.mypy_cache
__pycache__

#ai
ai/.mypy_cache
ai/__pycache__
ai/.pytest_cache
ai/.coverage
ai/.coverage.*
ai/.env*
ai/.venv
ai/.vscode

#backend
backend/.mypy_cache
backend/__pycache__
backend/.pytest_cache
backend/.coverage
backend/.coverage.*
backend/.env*
backend/.venv
backend/.vscode

#frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

frontend/coverage

frontend/build

frontend/.DS_Store
frontend/.env*

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*